* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}

div#frame::-webkit-scrollbar {
  display: none;
}

div#frame {
  overflow: scroll;
  height: 412.5px;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

div#board {
  min-width: 400px;
  max-width: 400px;
  display: grid;
  grid-template-rows: repeat(15, 27.5px);
  grid-template-columns: repeat(15, 27.5px);
  justify-content: center;
}
div#board div.column {
  position: relative;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 12px;
  font-weight: 900;
}
div#board div.column div.tile {
  width: 100% !important;
  height: 100% !important;
}
div#board div.column div.pcPlay {
  -webkit-text-stroke: 0.3px white;
  color: navy;
}
div#board div.tw::before {
  content: "TW";
  position: absolute;
  top: 3px;
  left: 2px;
  z-index: 0;
}
div#board div.dl::before {
  content: "DL";
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 0;
}
div#board div.dw::before {
  content: "DW";
  position: absolute;
  top: 3px;
  left: 2px;
  z-index: 0;
}
div#board div.tl::before {
  content: "TL";
  position: absolute;
  top: 3px;
  left: 5px;
  z-index: 0;
}

div#outer_rack img {
  width: 412px;
}

div#rack,
div.rackCopy {
  height: 45px;
  width: 100%;
  position: relative;
  bottom: 75px;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  gap: 5px;
  justify-content: center;
}
div#rack div.tile,
div.rackCopy div.tile {
  width: 50px !important;
  height: 55px !important;
  font-weight: bolder !important;
  font-size: xx-large !important;
}
div#rack div.tile div,
div.rackCopy div.tile div {
  bottom: 12px !important;
  left: 32px !important;
  font-weight: bolder !important;
  font-size: small !important;
}

div.rackCopy {
  position: unset;
}
div.rackCopy div.tile {
  cursor: pointer;
}
div.rackCopy div.tile.selected {
  box-shadow: inset 0px 0px 20px 7px;
  color: navy;
}

div.tile {
  position: relative;
  cursor: grab;
  background: wheat;
  width: 50px;
  height: 55px;
  font-weight: bolder;
  font-size: xx-large;
  box-shadow: inset 0px 0px 14px 0px;
  border-radius: 3px;
}
div.tile div {
  position: relative;
  bottom: 12px;
  left: 32px;
  width: 1px;
  height: 1px;
  font-weight: bolder;
  font-size: small;
}

div.tile:active {
  margin: 0;
  cursor: grabbing;
}

.ph-class {
  background: transparent;
  border: 1px dashed #649696;
  width: 40px;
}

.ph-class2 {
  background: transparent;
  border: 1px dashed #649696;
}

div#actionBar {
  width: 400px;
  margin: auto;
}

button#bagBtn {
  background-image: url("https://cdn.pixabay.com/photo/2014/04/02/11/04/bag-305400_960_720.png");
  background-color: #cccccc;
  width: 55px;
  height: 38px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 30px;
}

button#scoresBtn {
  height: 38px;
  width: 90px;
}
button#scoresBtn span {
  line-height: 1;
}

div.spinner-container {
  box-shadow: inset 0 0 8px 2px black;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  margin: auto;
}

svg.spinner {
  box-shadow: inset 0 0 8px 2px black;
  padding: 15px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  color: blue;
  transform: translateZ(0);
  animation: spin 3s infinite linear alternate-reverse;
}

@keyframes spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.35) rotate(360deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}
div.modal-body {
  overflow: scroll;
  max-height: 60vh;
}

div.modal-body::-webkit-scrollbar {
  width: 0;
  /* Remove scrollbar space */
  height: 0;
  /* Remove scrollbar space */
  background: transparent;
  /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
div.modal-body::-webkit-scrollbar-thumb {
  background: #000000;
}

div.tilesLeft,
div.blankOptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  width: 70%;
  margin: auto;
  row-gap: 2px;
}
div.tilesLeft div.status-box,
div.blankOptions div.status-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  font-size: small;
  font-weight: bold;
}
div.tilesLeft div.status-box div.tile,
div.blankOptions div.status-box div.tile {
  zoom: 0.7;
}

div.blankOptions {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  width: 100%;
}
div.blankOptions div.tile {
  cursor: pointer;
}

div.setBlank {
  font-style: italic;
}